
DATABASE_URL="postgresql://neondb_owner:npg_U8MafzAYIDH3@ep-billowing-boat-az1vqis3.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# AI Provider API Key (Gemini)
GROQ_API_KEY="your_groq_api_key_here"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="https://ztrwrmihwqvlzvurmzis.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0cndybWlod3F2bHp2dXJtemlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5NjYxODUsImV4cCI6MjEwMDU0MjE4NX0.7l_fx1yv_OjERcFSY2VCQ1wtgVDLA7JrLZ5zaL86TPY"